main {
  text-align: left;
  margin: 15% 9%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 6rem;
  grid-auto-flow: dense;
}

img {
  width: 100%;
}

.main p {
  color: #446381;
  font-size: 24px;
  margin: 0;
}

.main-paragraph {
  font-size: 68px;
  margin: 20px 0;
  color: #eb8382;
}

.paragraph {
  font-size: 58px;
  color: #446381;
  margin: 20px 0;
}

.text {
  color: #826f8c;
  font-size: 18px;
  margin: 20px 0;
  line-height: 29px;
}

@media (max-width: 600px) {
  main {
    margin: 20% 9%;
  }
}

@media (max-width: 600px) {
  main {
    margin: 20% 9%;
  }
}

@media (max-width: 391px) {
  main {
    margin: 30% 9%;
  }
}
