nav {
  height: 8vh;
  width: 100%;
  position: fixed;
  z-index: 50;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #446381;
}

nav main {
  padding: 50px;
}

nav p {
  margin: 20px;
}

.burger {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  position: relative;
}

.burger::before {
  content: '';
  position: absolute;
  top: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}

.burger span {
  position: absolute;
  top: 9px;
  width: 20px;
  background-color: black;
  height: 2px;
}

.burger::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  background-color: black;
  height: 2px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
