.logo {
  font-size: 34px;
  font-weight: 700;
  margin-left: 2%;

  background: url(../asserts//abstract-bg.jpeg);
  color: transparent;
  background-clip: content-box;
  -webkit-background-clip: text;
  animation: anime 50s cubic-bezier(0, 0.84, 0.52, 0.96);
}

@keyframes anime {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@media (max-width: 685px) {
  .logo {
    font-size: 24px;
  }
}
