.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50px;
  left: 0;
  transform: translateX(-130%);
  transition: all 0.3s;
}

.active {
  transform: translateX(0);
}

.blur {
  width: 100vw;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}

.menu-content {
  width: 30%;
  height: 100%;
  background-color: #446381;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}

ul li a {
  color: #eb8382;
  text-decoration: none;
  font-size: 1.3rem;
}
ul {
  text-align: center;
  display: flex;
  flex-direction: column;
}
